@import "../styles/index";

.container {
    width: 100%;
    position: relative;
    display: grid;
    grid-auto-flow: row;
    row-gap: convertPixelToRem(10px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    div {
        background-color: var(--skeleton-loader-element);
    }
}
.imagePlaceholder {
    width: convertPixelToRem(70px);
    height: convertPixelToRem(70px);
}
.descriptionHolder {
    width: 100%;
    height: convertPixelToRem(30px);
}
.animationHolder {
    width: convertPixelToRem(40px);
    background-image: linear-gradient(var(--skeleton-animation), rgba(255, 255, 255, 0.3)) !important;
    animation: slideAcross 0.7s ease-in infinite alternate;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px 18px 0px 200px;
}

@keyframes slideAcross {
    from {
        left: 0;
        transform: rotate(0deg);
    }
    to {
        left: 95%;
        transform: rotate(-180deg);
    }
}
