body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary-color: #8a057a;
  --theme-preference: #ffffff;
  --theme-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  --theme-gif-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  --theme-body: rgba(105, 104, 104, 0.1);
  --theme-body-bold-text: #292929;
  --theme-body-light-text: #666667;
  --skeleton-loader-element: #f6f7fb;
  --switch-box: rgba(0, 0, 0, 0.3);
  --rating-icon-empty: rgba(0, 0, 0, 0.26);
  --skeleton-animation: rgba(255, 255, 255, 0.7);
  --gifdetails: rgba(129, 115, 115, 0.1);
}